@import "_color.scss";

// utilities 

.space-70-tb {
    padding: 70px 0;
}

.space-70-tb-40 {
    padding: 70px 0 40px;
}

.p-b-16 {
    padding-bottom: 16px;
}

// button

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

// loader

.lds-ring {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    margin: 8px;
    border: 8px solid $dark0;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $dark0 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

// results

.close {
    float: right;
    color: $dark0;
    cursor: pointer;
    padding: 8px 12px;
    background-color: $light0;
    border-radius: 8px;
    text-align: right;
    font-weight: bold;
}